*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
}

html{
    background-color: aqua;
}

.header{
    height: 40px;
    background-color: white;
    padding: 12px 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
}

.logo{
    font-weight: 600;
}

.navbar{
    font-size: 12px;
}

.nav-link{
    display: inline-block;
    margin-left: 12px;
    font-weight: 500;
    cursor: pointer;
}
.nav-link:hover{
    color: red;
    font-size: 16px;
}
.container{
    position: relative;
    top: 40px;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cv{
    height: 320px;
    width: 80%;
    background-color: white;
    border-radius:8px ;
}
.left-cv{
    width: 40%;
    height: 100%;
    border-right: 1px dashed #333;
    float: left;
}
.cover-avatar{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.avatar{
    border-bottom: 1px dashed #333;
}
.img{
    width: 120px;
    height: auto;
    border-radius: 75%;
}

.title-cv{
    margin: 12px;
    font-size: 16px;
    font-weight: 600;
}
.info{
    padding: 12px;
}
.list-info{
    list-style-type: none;
}
.info-detail{
    font-size: 12px;
    margin-top: 8px;
}
.right-cv{
    width: 58%;
    float: right;
    padding: 12px 0;
    margin-left:12px ;
}
.item{
    border-bottom:1px dashed #333 ;
    padding: 8px;
}
.item:last-child{
    border: none;
}
.description{
    font-size: 10px;
}
.list-project{
    list-style-type: none;
}
.footer{
    height: 80px;
    background-color: white;
    text-align: center;
    
}
.text-footer{
    line-height: 80px;
}